.form-group{
    margin-bottom: 15px !important;
}
.label-form{
    padding-top: 0 !important;
}
.kt-content{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.footer{
    background-color: blueviolet;
    color: white;
    text-align: center;
}
.red-text{
    color: red;
}